*{
    margin: 0;
}
.navbar{
    display: flex;
    height: 60px;
    width: 100%;
    background-color: #ffe4e1;
    justify-content:flex-start;
}
 .navbar-img{
    display: flex;
    justify-content:flex-start;
    width: 350px;
    height:60%;
    padding: 0;
    margin-left: 20px;
    

}
.nav-text{
    display: flex;
    justify-content: flex-end;
    width:75%;
    height: 60px;
}


 img{
    height: 60px;
    width: 120px;
   
 }


li{
    display: inline-block;
    padding: 10px;
    margin:10px;
    font-family: "Roboto", sans-serif;

}
li:hover{
    color: #b0c2f2;
    text-decoration: none;
}
